body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    font-size: 10pt;
    border:1px solid #cccccc
}

td{
    padding: 3px;
    height: 25px;
}

th{
    background-color: steelblue;
    color: black;
    height: 30px;
}

h3{
    font-weight: 600;
    color: steelblue;
}